shimane_train_X.npy
shimane_train_Y.npy
sncl_map.pkl
station_map.pkl
example/shimane_train_X.npy
example/shimane_train_Y.npy
example/sncl_map.pkl
example/station_map.pkl
__pycache__
__pycache__/*
example/.ipynb_checkpoints
example/.ipynb_checkpoints/*